<h1 matDialogTitle>
  <mat-icon color="primary" class="mat-36">grade</mat-icon>
  Education Level
  <mat-divider></mat-divider>

</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="educationLevelForm" novalidate>

  <mat-dialog-content>


    <div fxLayout="column wrap"
         fxLayoutAlign="space-between center"
         class="content"
         fxLayout.lt-sm="column"
         fxLayoutGap="2em">

      <div class="block" fxFlex="">

        <mat-form-field appearance="outline">
          <mat-label>Education Level :</mat-label>
          <mat-select formControlName="EducationLevelId">
            <mat-option *ngFor="let level of eduLevels" [value]="level.EducationLevelId">
              {{level.Name}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>grade</mat-icon>
        </mat-form-field>
      </div>

      <div class="block" fxFlex="">
        <mat-form-field appearance="outline">
          <mat-label for="EndingYear">Ending Year</mat-label>


          <input matInput
                 formControlName="EndingDate"
                 [matDatepicker]="EndingDate1">
          <mat-datepicker-toggle color="primary" matSuffix [for]="EndingDate1"></mat-datepicker-toggle>
          <mat-datepicker #EndingDate1></mat-datepicker>
        </mat-form-field>
      </div>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions [attr.align]="start">
    <div style="padding-top: 20px;"
         class="block" fxFlex="">
      <button type="submit" mat-flat-button color="primary">
        <mat-icon class="mat-18">save</mat-icon>
        save
      </button>

    </div>
    <div style="padding-top: 20px;"
         class="block" fxFlex="">
      <button (click)="close()" mat-flat-button color="warn">
        <mat-icon class="mat-18">close</mat-icon>
        close
      </button>

    </div>

  </mat-dialog-actions>
</form>

